.leapp-report-details-wrapper {
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}

.leapp-report-details {
  dd {
    white-space: pre-wrap;
  }
}

.leapp-expanded-tbody {
  border: 1px solid var(--pf-v5-global--BorderColor--100);
  box-shadow: var(--pf-v5-global--BoxShadow--sm);

  tr:first-child > td {
    background-color: var(--pf-v5-global--primary-color--light-background, #e7f1fa);
  }
}
